{% assign flag = 1 %}
{% for item in cart.items %}
    {% if item.product.tags contains 'no-delivery-date' %}

    {% else %}
        {% assign flag = 1 %}
    {% endif %}
{% endfor %}<input type="hidden" id="ztpl-current-date" value="{{ 'now' | date: '%d' }}"/>
<input type="hidden" id="ztpl-store-hour" value="{{ 'now' | date: '%H' }}"/>
<input type="hidden" id="ztpl-store-minute" value="{{ 'now' | date: '%M' }}"/>
<input type="hidden" id="ztpl-date-format-ddmmyy" value="{{ 'now' | date: '%d-%m-%Y' }}"/>
<input type="hidden" id="ztpl-date-format-yymmdd" value="{{ 'now' | date: '%Y-%m-%d' }}"/>
{{ 'https://zestardshop.com/shopifyapp/DeliveryDatePro/public/css/jquery-ui.css' | stylesheet_tag }}{% if flag == 1 %}
<div id="datepicker_box" class="additional-css">
  
    <p class="date-box">
		<span class="add-delivery-date add-note">
			<label for="delivery-date-pro" style="display:inline;"></label>
			<span class="note-icon note-icon--open" style="cursor: pointer" aria-hidden="true">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pencil" viewBox="0 0 64 64"><defs><style>.cls-1, .cls-2 {
                            fill: none;
                            stroke: #000;
                            stroke-width: 2px
                        }

                        .cls-1 {
                            stroke-miterlimit: 10
                        }</style></defs><path class="cls-1" d="M52 33.96V58H8V14h23.7"/><path class="cls-1"
                                                                                              d="M18 47l13-5 24-24-8-8-24 24-5 13zM23 34l8 8"/><path
                        id="svg_2" data-name="svg 2" class="cls-2"
                        d="M47 10l1-1a5.44 5.44 0 0 1 7.82.18A5.52 5.52 0 0 1 56 17l-1 1"/></svg>
          </span>
			<span class="note-icon note-icon--close" style="cursor: pointer">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><defs><style>.cls-1 {
                            fill: none;
                            stroke: #000;
                            stroke-miterlimit: 10;
                            stroke-width: 2px
                        }</style></defs><path class="cls-1" d="M19 17.61l27.12 27.13m0-27.13L19 44.74"/></svg>
            <span class="icon__fallback-text">{{ 'general.accessibility.close' | t }}</span>
          </span>
		</span>

        <input id="delivery-date-pro" class="hide delivery-date-pro" style="display:block;" type="text" name="attributes[Delivery-Date]"
               value="{{ cart.attributes.Delivery-Date }}" readonly="readonly" disabled/>
  
    </p>
    <span id="selected_format"></span>
    <label id="delivery-time-label" style="display:none"></label>
    <select id="delivery-time" name="attributes[Delivery-Time]" style="display:none" readonly="readonly">
        <option id="time_option_label" value=""></option>
    </select>
    <span id="admin_notes" class="hide delivery-date-pro"></span>
</div>
{% endif %}
<script>
    var store_timezone_offset = "{{ 'now' | date: '%Z' }}";
    
    /* appjetty DDM code start */
    $(document).ready(function(){
        $('.appjetty-ddm-cart-cal').hide();
    
        $('.add-delivery-date').click(function(){
           $(this).hasClass('is-active') ? $('.appjetty-ddm-cart-cal').show() : $('.appjetty-ddm-cart-cal').hide();
        }); 
    });
    /* appjetty DDM code end */
    
</script>
<style>
    .cart_datepicker{ justify-content: initial; }
    .lable_dds-date-wrapper.label-right {text-align: left !important;}
</style>
{{ 'https://zestardshop.com/shopifyapp/DeliveryDatePro/public/js/snippets.js' | script_tag }}{{ 'https://zestardshop.com/shopifyapp/DeliveryDatePro/public/css/zestard-deliverydatepro-snippet.css' | stylesheet_tag }}