<div class="collapsibles-wrapper">
    {% if template == 'product.ajax' %}
        <h3
            class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height"
            aria-controls="Product-content-{{ id }}">
            {{ title }}
            {%- render 'collapsible-icons' -%}
        </h3>
    {% else %}
        <h2
            class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height"
            aria-controls="Product-content-{{ id }}">
            {{ title }}
            {%- render 'collapsible-icons' -%}
        </h2>
    {% endif %}

    <div id="Product-content-{{ id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner rte">

            {% if show_file_src != blank %}
                {% assign stripped_content1 = content | strip_html | strip_newlines | strip %}
          		{% assign stripped_content2 = content | strip_html | strip_newlines | strip  %}
                {% assign stripped_content_app2 = stripped_content2 | append: "2"  %}
          		{% assign stripped_content3 = content | strip_html | strip_newlines | strip %}
                {% assign stripped_content_app3 = stripped_content3 | append: "3"  %}
                {% assign preview_image1 = product.metafields.my_fields[stripped_content1] %}
                {% assign preview_image2 = product.metafields.my_fields[stripped_content_app2] %}
                {% assign preview_image3 = product.metafields.my_fields[stripped_content_app3] %}

                {% assign img_url1 = preview_image1 | img_url: 'master' %}
                {% assign img_url2 = preview_image2 | img_url: 'master' %}
          		{% assign img_url3 = preview_image3 | img_url: 'master' %}

                {% if img_url1 contains 'no-image' %}

                {% else %}
                    <img class="tab-meta-image lazyload{% unless settings.product_grid_image_fill %} grid__image-contain{% endunless %}"
                         data-src="{{ img_url1 }}"
                         data-widths="[160, 200, 280, 360, 540, 720, 900]"
                         data-aspectratio="{{ preview_image1.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ preview_image1.alt | escape }}">
                    <noscript>
                        <img class="grid-product__image lazyloaded"
                             src="{{ preview_image1 | img_url: 'master' }}"
                             alt="{{ preview_image1.alt | escape }}">
                    </noscript>
                {% endif %}
          		
          		{% if img_url2 contains 'no-image' %}

                {% else %}
                    <img class="tab-meta-image lazyload{% unless settings.product_grid_image_fill %} grid__image-contain{% endunless %}"
                         data-src="{{ img_url2 }}"
                         data-widths="[160, 200, 280, 360, 540, 720, 900]"
                         data-aspectratio="{{ preview_image2.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ preview_image2.alt | escape }}">
                    <noscript>
                        <img class="grid-product__image lazyloaded"
                             src="{{ preview_image2 | img_url: 'master' }}"
                             alt="{{ preview_image2.alt | escape }}">
                    </noscript>
                {% endif %}
          		
          		{% if img_url3 contains 'no-image' %}

                {% else %}
                    <img class="tab-meta-image lazyload{% unless settings.product_grid_image_fill %} grid__image-contain{% endunless %}"
                         data-src="{{ img_url3 }}"
                         data-widths="[160, 200, 280, 360, 540, 720, 900]"
                         data-aspectratio="{{ preview_image3.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ preview_image3.alt | escape }}">
                    <noscript>
                        <img class="grid-product__image lazyloaded"
                             src="{{ preview_image3 | img_url: 'master' }}"
                             alt="{{ preview_image3.alt | escape }}">
                    </noscript>
                {% endif %}

            {% else %}
                {{ content }}
            {% endif %}

        </div>
    </div>
</div>
